{% extends "app/template/base.html" %}
{% block start %}
<div> 
    <form class="col-6 mx-auto card p-3" method="post" enctype="multipart/form-dat">
      {% csrf_token %}
      <h1>Add Student</h1>
      <hr>
      
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Student name</label>
          <input name="student_name"type="text" class="form-control">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1"  class="form-label">Age</label>
          <input type="number" name="age" class="form-control" >
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Address</label>
            <input type="text" name="address" class="form-control">
        </div>
        
        <button type="submit" class="btn btn-success">Add recipes</button>
      </form>
      <br>
      <!-- <form method="get">
        <label for="Search">Search</label>
        <input type="text" name="searchvalue">
        <button type="submit">submit</button>
      </form> -->
      
      {% if students %}
      <table class="table" border="1">
        <thead>
          <tr>
            <th scope="col">sl.no</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Adress</th>
            
          </tr>
        </thead>
        <tbody>
          {% for student in students %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{student.student_name}}</td>
            <td>{{student.age}}</td>
            <td>{{student.address}}</td>
            
          </tr>
          {% endfor %}
    
     
  </tbody>
  </table>
  {% else %}
  No result found
  {% endif %}

      
</div>
    
{% endblock %}